ENVIRONMENT="dev"   # can be "dev" | "prod" | "staging"

# Logger
DEBUG=false
LOG_TO_FILE=true

# Database
DB_CONFIG__DB_NAME=
DB_CONFIG__DB_USER=
DB_CONFIG__DB_PASSWORD=
DB_CONFIG__DB_HOST=
DB_CONFIG__DB_PORT=
DB_CONFIG__DB_SCHEMA=

# JWT & Token
JWT_SECRET_KEY=your-super-secret-key-min-32-chars-change-in-production
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=10080 # Number of minutes after which an access token expires 7 days
JWT_REFRESH_TOKEN_EXPIRE_DAYS=30  # Number of days after which a refresh token expires

TOKEN_SERIALIZER_SECRET_KEY=your-super-secret-key-min-32-chars-change-in-production
PASSWORD_RESET_SALT=password-reset
EMAIL_VERIFICATION_SALT=email-verification
PASSWORD_RESET_TOKEN_EXPIRE_MINUTES=15  # 15 minutes after which an token expires
VERIFICATION_TOKEN_EXPIRE_HOURS=2 # 2 hours

# Email Configuration 
EMAIL_CONFIG__EMAIL_HOST=
EMAIL_CONFIG__EMAIL_PORT=
EMAIL_CONFIG__EMAIL_USERNAME=
EMAIL_CONFIG__EMAIL_PASSWORD=
EMAIL_CONFIG__EMAIL_FROM=

# Redis
REDIS_CONFIG__REDIS_HOST=
REDIS_CONFIG__REDIS_PORT=
REDIS_CONFIG__REDIS_DB=
REDIS_CONFIG__REDIS_USERNAME=
REDIS_CONFIG__REDIS_PASSWORD=

# Frontend URL
FRONTEND_URL=http://localhost:3000